@model DomainModel.Album

<div class="single">
    <div class="grid-img1">
        <a href="@Model.ImageUrl"><img src="@Model.ImageUrl" height="150" width="150"></a>
    </div>
    <div class="para">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <div class="cart-b">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Year)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Year)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Popularity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Popularity)
                </dd>



            </dl>
        </div>
        <div>
            @{Html.RenderPartial("_TrackList", Model.Tracks);}
        </div>
    </div>
    <div class="clear"></div>
</div>



