@model DomainModel.Album

<div class="single">
    <div class="grid-img1">
        <a href="@Model.ImageUrl"><img src="@Model.ImageUrl" height="150" width="150"></a>
    </div>
    <div class="para">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <h5>@Html.DisplayFor(model => model.Year)</h5>
        <div class="cart-b">

            <dl class="dl-horizontal">
                <dt>
                    Popularidad del álbum
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Popularity)
                </dd>

                <dt>
                    Popularidad promedio de las canciones
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AvgTrackPopularity)
                </dd>

                <dt>
                   Canción más larga
                </dt>

                <dd>
                    @Model.LongestTrack.Name (@Model.LongestTrack.DurationStringMMSS)
                </dd>

            </dl>
        </div>
        <div>
            @{Html.RenderPartial("_TrackList", Model.Tracks);}
        </div>
    </div>
    <div class="clear"></div>
</div>



