@model SpotifyMetadata.Page<DomainModel.Artist>

<table id="artists-spotify-table download-spotify" class="table table-condensed table-hover">
    @foreach (var item in Model.Items)
            {
        <tr class="download-spotify" data-id="@item.SpotifyId" data-name="@item.Name">
            <td style="width:60px"><img alt="@item.Name" src="@item.ImageUrlWithDefault" height="40" width="40" /></td>
            <td>
                <span class="h3">@Html.DisplayFor(modelItem => item.Name)</span>
            </td>
            <td style="width:120px">
                <span class="btn btn-success download-spotify" data-id="@item.SpotifyId" data-name="@item.Name">
                    @Html.GlyphIcon("download-alt") Descargar
                </span>
            </td>
        </tr>
    }
</table>
@{ Html.RenderPartial("_Paging", Model, ViewData);}