@model DomainModel.Artist
@section styles
    {
    <link rel="stylesheet" type="text/css" href="~/Content/circle.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/modal-view.css" />
}
@section scripts
{
    @Scripts.Render("~/Scripts/_albumDetail.js")
    @Scripts.Render("~/Scripts/modal-view.js")
    @Scripts.Render("~/Scripts/ajax-wrap.js")
    @Scripts.Render("~/Scripts/_artistDownload.js")
}
@{
    ViewBag.Title = Model.Name;
    Html.RenderPartial("_DownloadingArtist");
}
<h2>
    @Html.DisplayFor(model => model.Name)
    <small>
        Actualizado el @Model.LastUpdated
        <span class="btn btn-info update-spotify" data-id="@Model.SpotifyId" data-name="@Model.Name"> @Html.GlyphIcon("refresh") </span>
    </small>
</h2>
<div class="section group">
    <div class="cont">
        @foreach (var album in Model.Albums)
        {
            Html.RenderPartial("_AlbumDetail", album);
        }
    </div>
</div>
