<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='http://fonts.googleapis.com/css?family=Bebas+Neue' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="menu-bg">
        <div class="wrap">
            <div class="menu">
                <ul class="nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="artists.html">Artists</a></li>
                    <li><a href="specials.html">Specials</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bg">
        <div class="wrap">
            <div class="header">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="" title="logo"></a>
                </div>
                
                <div class="foot-search">
                    <form>
                        <input type="text" value="keyword here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'keyword here';}">
                        <input type="submit" value="Search">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
    <div class="content-bg">
        <div class="wrap">
            <div class="main">
                @RenderBody()
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
    <div class="footer1-bg">
        <div class="wrap">
            <div class="copy">
                <p>© 2013 All rights Reserved | Design by &nbsp;<a href="http://w3layouts.com">W3Layouts</a></p>
            </div>
        </div>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
