<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spotify Metadata Reader</title>
    <link href='http://fonts.googleapis.com/css?family=Bebas+Neue' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="content-wrapper">
        <div class="menu-bg">
            <div class="wrap">
                <div class="menu">
                    <ul class="nav">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Artistas descargados", "Index", "Artists")</li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div>
        <div class="header-bg">
            <div class="wrap">
                <div class="header">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")"><img src="~/images/logo.png" alt="" title="logo"></a>
                    </div>

                    <div class="foot-search">
                        @using (Html.BeginForm("Search", "Artists", FormMethod.Post, new { id = "searchForm"}))
                        {
                            <input id="searchQueryInput" type="text" name="queryInput" value="buscar artista" 
                                   onfocus="this.value = '';" 
                                   onblur="if (this.value == '') {this.value = 'buscar artista';}">
                            <input id="searchQuery" type="hidden" name="q"/>
                            <input type="submit" value="Buscar">
                        }
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="content-bg">
            <div class="wrap">
                <div class="main">
                    <div class="content">
                        @RenderBody()
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer1-bg">
        <div class="wrap">
            <div class="copy">
                <p>© 2016 <a href="http://www.linkedin.com/in/dsnunez">Daniela Núñez</a> | Diseño "Music Box" por&nbsp;<a href="http://w3layouts.com">W3Layouts</a></p>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/_layout.js")
    @RenderSection("scripts", required: false)
</body>
</html>
